<app-header [title]="category" [backButton]="true" defaultHref="/categories"></app-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeMd="6" offsetMd="3">
        <ion-card>
          <ion-list mode="ios">
            <ion-list-header color="tertiary">
              <ion-label>{{category}}</ion-label>
            </ion-list-header>
            <ion-item button color="tertiary" (click)="goToMealDetails(meal.idMeal)" *ngFor="let meal of meals">
              <ion-avatar>
                <ion-img [src]="meal.strMealThumb" [alt]="meal.strMeal"></ion-img>
              </ion-avatar>
              <ion-label>{{meal.strMeal}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>